/*------------------------------------*\
    Project variables
\*------------------------------------*/
$base-font-size: 16px;
$base-line-height: 24px;
$base-space: 1em;

// Colors
$font-color: #333;
$gray-dark-color: #5d5d5d;
$gray-color: #909090;
$gray-light-color: #b2b2b2;
$gray-extra-light-color:#f1f3f5;
$white-color: #FFF;

$border-color: #ddd;

$brand-light:#008cdd;
$brand-color: #373f4a;
$brand-dark: #98a7b5;
